<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>Samの部落格</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/static/images/bitbug_favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="css/comments.css">
	<link href="/static/css/base.css" rel="stylesheet">
	<link href="/static/css/index.css" rel="stylesheet">
	<link href="/static/css/m.css" rel="stylesheet">
	<script src="/static/js/jquery.min.js" type="text/javascript"></script>
	<script src="/static/js/jquery.easyfader.min.js"></script>
	<script src="/static/js/scrollReveal.js"></script>
	<script src="/static/js/wangEditor.js"></script>
	<script src="/static/js/common.js"></script>
	<script src="/static/js/xcConfirm.js"></script>
</head>

<body>
  {% import 'macro.html' as macros %}
    {{macros.show(params)}}


	<article>
		<h1 class="t_nav">
			<p class="n1">文章</p>
		</h1>
		<div class="infosbox">
			<div class="newsview">
				<h3 class="news_title">{{params.topic.title|safe}}</h3>
				<div class="bloginfo">
					<ul>
						<li class="author"><a href="#">{{params.topic.user.uname}}</a></li>
						<li class="lmname"><a href="#">{{params.topic.category.cate_name}}</a></li>
						<li class="timer">{{params.topic.pub_date.strftime("%Y-%m-%d")}}</li>
						<li class="view">{{params.topic.read_num}}</li>

				</div>
				<div class="tags">
					<a href="#" target="_blank">{{params.topic.blogType.type_name}}</a> &nbsp; 
					<a href="#" target="_blank">#{{params.topic.category.cate_name}}</a>
				</div>
				<div class="news_about">
					<strong>簡介</strong>
				學習程式語言Python、Javascript, 關聯式資料庫MySQL, 網頁框架Flask的學習筆記</div>
				<div class="news_con">
					{{params.topic.content|safe}}
				</div>
			</div>
			<div class="share">
				<a href="/release?update_get=Y&topic_id={{params.topic.id}}">
					<p class="diggit">修改文章
					</p>
				</a>
				<a href="/delete_topic?topic_id={{params.topic.id}}" class="dashang">
					<p class="dasbox">刪除文章
					</p>
				</a>
				<div class="hide_box"></div>
			</div>
			<div class="nextinfo">
				<p>上一篇：
					{% if params.prevTopic %}
					<a href="/info?topic_id={{params.prevTopic.id}}">
						{{params.prevTopic.title|safe}}
					</a>
					{% else %}
					<a href="#top" target=_self>返回頂部
					{% endif %}
				</p>
				<p>下一篇：
					{% if params.nextTopic %}
					<a href="/info?topic_id={{params.nextTopic.id}}">
						{{params.nextTopic.title|safe}}
					</a>
					{% else %}
					<a href="#top">返回頂部</a>
					{% endif %}
				</p>
			</div>
			<div class="news_pl">
				<h2>文章評論</h2>
				
					<div class="gbko">

						<div class="l_box f_l" style="padding:20px;">
							<div class="commentstitle">
								<h3 id="comments">到現在<span class="commentsnumber">有{{params.topic.replies.count()}}評論</span></h3>
							</div>
						

							{% for reply in params.replies %}
							<ol class="commentlist">

								<li>
									<div class="top">
										<span style="float:left">
											<img alt='' src='/static/{{reply.user.images}}' class='commentAvatar avatar-32 commentPhoto' height='32' width='32' />
										</span>
										<a href='#' rel='external nofollow' class='url'>{{reply.user.uname}}</a>
										<span class="time"> @
											<a href="#" title="">{{reply.reply_time}}</a><a href="#" class="replyComment">回應</a>
										</span>
									</div>
									<div class="body">
										<p>{{reply.content|safe}}</p>
									</div>
								</li>
							</ol>

							{% endfor %}

							{% if params.uname%}
							<div id="commentform">
								<h3 id="respond">在這邊添加你的留言！</h3>
								<form action="/info" method="post">
									<!-- <dir id="editor"></dir> -->
									<textarea name="content" cols="50" rows="8"></textarea>
									<br>
									<p>
										<input id="id_article" name="article" type="hidden" value="{{params.topic_id}}">
										<input name="submit" type="submit" id="submit" tabindex="5" value="發表" class="button">
									</p>
								</form>
							</div>
							{% endif %}
						</div>
					</div>				
			</div>
		</div>
		{% include 'click_order.html' %}
		
	</article>
	
	{{macros.footer()}}

</body>

</html>