{% macro show(params) %}
  <header id="header">
    <!--menu begin-->
    <div class="menu">
      <nav class="nav" id="topnav">
        <h1 class="logo"><a href="/">Samの部落格</a></h1>
        <li><a href="/">網站首頁</a> </li>
        <li><a href="/list">文章列表</a>

        </li>

        <li><a href="/time">時間軸</a> </li>
        <li><a href="/release">發表博客</a></li>
      </nav>
    </div>
    {% if not params.uname %}
    <a href="/login" id="login" style="top:30px" target="_blank">登入</a>
    <a href="/register" id="register" style="top:30px" target="_blank">註冊</a>
    {% else %}

    <p id="login" style="font-size: 24px;top:21px;right:238px">歡迎:{{params.uname}}</p>
    <a href="/sign_out" id="register" style="top:28px;right:130px">登出</a>
    {% endif %}
    <!--menu end-->
    </div>
    <!--mnav end-->
  </header>
{% endmacro %}

{% macro footer() %}

  <footer id="footer">
    <p><a href="/">Samの部落格</a> <a href="#top">返回頂部</a></p>
  </footer>
  <a href="#top" class="cd-top">Top</a>
{% endmacro %}