{% macro show(params) %}
  <header id="header">
    <!--menu begin-->
    <div class="menu">
      <nav class="nav" id="topnav">
        <h1 class="logo"><a href="/">Samの部落格</a></h1>
        <li><a href="/">網站首頁</a> </li>
        <li><a href="/list">文章列表</a>
         <!--  <ul class="sub-nav">

            {% for category in params.categories %}
              <li>
                <a href="/list?cateid={{category.id}}">
                  {{category.cate_name}}
                </a>
              </li>
            {% endfor %}
          </ul> -->
        </li>
<!--         <li><a href="photo.html">我的相簿</a>
        </li> -->
        <li><a href="/time">時間軸</a> </li>
<!--         <li><a href="gbook.html">留言</a> </li>
        <li><a href="about.html">關於我</a> </li> -->
        <li><a href="/release">發表博客</a></li>
      </nav>
    </div>
    {% if not params.uname %}
    <a href="/login" id="login" style="top:30px" target="_blank">登入</a>
    <a href="/register" id="register" style="top:30px" target="_blank">註冊</a>
    {% else %}

    <p id="login" style="font-size: 24px;top:21px;right:238px">歡迎:{{params.uname}}</p>
    <a href="/sign_out" id="register" style="top:28px;right:130px">登出</a>
    {% endif %}
    <!--menu end-->

    <!--mnav begin-->
    <!-- <div id="mnav"> -->
<!--       <h2><a href="index.html" class="mlogo">個人部落格</a><span class="navicon"></span></h2> -->
      <!-- <dl class="list_dl"> -->
<!--         <dt class="list_dt"> <a href="index.html">網站首頁</a> </dt> -->
        <!-- <dt class="list_dt"> <a href="#">文章列表</a> </dt> -->
<!--         <dd class="list_dd">
          <ul>

          {% for category in params.categories %}
            <li>
              <a href="/list?cateid={{category.id}}">
                {{category.cate_name}}
              </a>
            </li>
          {% endfor %}

          </ul>
        </dd> -->
        <!-- <dt class="list_dt"> <a href="photo.html">我的相簿</a> </dt> -->
        <!-- <dt class="list_dt"> <a href="/time">時間軸</a> </dt> -->
        <!-- <dt class="list_dt"> <a href="gbook.html">留言</a> </dt> -->
        <!-- <dt class="list_dt"> <a href="about.html">關於我</a> </dt> -->
      <!-- </dl> -->
    </div>
    <!--mnav end-->
  </header>
{% endmacro %}


{% macro footer() %}

  <footer id="footer">
    <p><a href="/">Samの部落格</a> <a href="#top">返回頂部</a></p>
  </footer>
  <a href="#top" class="cd-top">Top</a>
{% endmacro %}