
<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<link href="/static/css/login_reglogin.css" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="/static/js/jquery-1.11.3.js"></script>
</head>
<body>
		<div class="bg">
				<img src="/static/images/c.jpg" alt="">
		</div>
	<div class="main">
		<div class="header" >
			<h1>創建一個新帳號！</h1>
		</div>
		<p></p>
			<form action="/register" method="post" enctype="multipart/form-data">
				<ul class="left-form">
					<h2>新帳號:</h2>
					<li>
			            <input id="login_id" type="text" name="loginname" placeholder="請輸入loginname" required/><br><br>
			            <p id="prompt" style="color: red;float:left;padding: 0px"></p>
						<div class="clear"> </div>
					</li> 
					<li>
            			<input type="text" name="username" placeholder="請輸入用户名" required/>
						<div class="clear"> </div>
					</li> 
					<li>
            			<input type="email" name="email" placeholder="請輸入Email" required/>
						<div class="clear"> </div>
					</li> 
					<li>
            			<input type="url" name="url" placeholder="請輸入個人網站位址" required/>
						<div class="clear"> </div>
					</li> 
					<li>
            			<input type="password" id="password" name="password" placeholder="請輸入密碼" required/>
						<div class="clear"> </div>
          			</li>
	          		<li>
	              		<input type="password" id="password2" name="password2" placeholder="請再次輸入密碼" required/><br><br>
	              		<p id="prompt2" style="color: red;float:left;padding: 0px"></p>
	              		<div class="clear"> </div>
	            	</li>
					<li>
						<p>
							<input type="file" name="picture" style="margin-right: 12px">&nbsp&nbsp&nbsp&nbsp請選擇個人大頭貼
						</p>
						<div class="clear"> </div>
	            	</li>
          			<input type="hidden" name="source_url" value="">
					<input type="submit" value="創建並登錄">
					<div class="clear"> </div>
				</ul>
				<div class="clear"> </div>
			</form>
	</div>
	<script src="/static/js/jquery-1.11.3.js"></script>
	<script>
		$(function(){
			$("#login_id").blur(function(){

				var url ="http://3.114.174.92:5000/loginname-check?loginname=" + $("#login_id").val()
				// console.log(url);
				$.ajax({
		          url : url,
		          type : 'GET',
		          dataType : 'jsonp',
		          // jsonp : "callback",
		          // jsonCallback : "successCallback",
		          success:function(data){
		          	$('#prompt').html(data.msg)
	
		          }
		        });
			});

			$("#password2").blur(function(){
				var url ="http://3.114.174.92:5000/password-check?password=" + $("#password").val()+'&password2='+ $("#password2").val()
				console.log(url);
				$.ajax({
		          url : url,
		          type : 'GET',
		          dataType : 'jsonp',
		          // jsonp : "callback",
		          // jsonCallback : "successCallback",
		          success:function(data){
		          	$('#prompt2').html(data.msg)

		          }
		        });
			});
		});


	</script>
</body>
</html>


<!-- 		  		// var url = '/loginname-check?loginname='+$("#login_id").val()
		  	
		  		// $.get(url,function(resText){
		  		// 		$('#prompt').html(resText.msg);
		  		// 		console.log('adfsd');
		    //     },'json'); -->